

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    background: #222;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: #f4f4f4;
}

.btn-primary, .btn {
    background: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
}

.categories {
    padding: 40px;
    text-align: center;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    padding: 20px;
    background: #eaeaea;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}



/*---------- Register page -----------*/
.auth-container {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    background: #f9f9f9;
    border-radius: 6px;
    text-align: center;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.auth-footer {
    margin-top: 15px;
}

/* ----------------Marketplace page -------------------*/

.marketplace {
    padding: 40px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.product-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 6px;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}
