{% extends "base.html" %}

{% block title %}Login | CampusMart{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">
        <h2>Welcome Back</h2>
        <p class="auth-subtitle">
            Login using your <b>@gkv.ac.in</b> email
        </p>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="auth-alert">
              {{ messages[0] }}
            </div>
          {% endif %}
        {% endwith %}

        <form method="POST" action="/login">

            <label>College Email</label>
            <input type="email" name="email"
                   placeholder="example@gkv.ac.in" required>

            <label>Password</label>
            <input type="password" name="password"
                   placeholder="Enter your password" required>

            <button type="submit" class="auth-btn">
                Login
            </button>

        </form>

        <p class="auth-footer">
            Don’t have an account?
            <a href="/register">Register</a>
        </p>

    </div>

</div>

{% endblock %}