{% extends "base.html" %}

{% block title %}{{ product.title }} | CampusMart{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_detail.css') }}">
{% endblock %}
{% block content %}

<div class="detail-wrapper">

    <div class="detail-card">

        <div class="detail-left">
            {% if product.image %}
                <img src="{{ url_for('static', filename='uploads/' ~ product.image) }}" alt="Product Image">
            {% else %}
                <div class="detail-placeholder">No Image Available</div>
            {% endif %}
        </div>

        <div class="detail-right">

            <h2>{{ product.title }}</h2>

            <p class="detail-price">₹{{ product.price }}</p>

            <span class="detail-badge">
                {{ product.condition }}
            </span>

            <p class="detail-category">
                Category: {{ product.category }}
            </p>

            <div class="detail-description">
                <h4>Description</h4>
                <p>{{ product.description }}</p>
            </div>

            <div class="seller-card">
                <h4>Seller Information</h4>
                <p>Contact seller through platform</p>
            </div>

        </div>

    </div>

</div>

{% endblock %}